doctype html

html
  head
    title NY Curl Analytics
    link(rel="icon" type="image/x-icon" href="/public/favicon.ico")
    link(rel="stylesheet" href="/public/css/analytics.css")
    link(rel="stylesheet" href="/public/bower/chartist/dist/chartist.min.css")

    meta(name="description"
         content="News from the New York Times optimized for display in Terminal")

  body
    h3(class="header") Analytics
    div(class="container")
      div(class="ct-chart traffic")

  script(src="/public/bower/chartist/dist/chartist.min.js")
  script(src="/public/bower/jquery/dist/jquery.min.js")
  script(src="/public/bower/moment/min/moment.min.js")
  script(src="/public/js/analytics.js")
