doctype html

html
  head
    title NY Curl Analytics
    link(rel="icon" type="image/x-icon" href="/favicon.ico")

    meta(name="description"
         content="News from the New York Times optimized for display in Terminal")

  body
    h3(class="header") Analytics
      br
      a(href="/") Home
    div(class="container")
      div(class="graphs")
        h4 Traffic Over Time (requests per day)
        div(id="traffic" class="graph")
      div(class="graphs")
        h4 Average Response Time (max/avg/min milliseconds)
        div(id="response-time" class="graph")
      div(class="graphs")
        h4 Section Query Frequencies (total queries per section)
        div(id="section-frequency" class="graph")
      div(class='graphs')
        h4 Queries by IP Origin (total queries per country)
        div(id='country-frequency' class='graph')
    div(class='date-slider-container')
      h4(class='header') Set Time Scale
      div(id='date-slider')

  script(src="/dist/analytics.bundle.js")
