/**
 * index.pug stylesheet
 * Author: alvin.lin.dev@gmail.com (Alvin Lin)
 */

@fontface {
  font-family: UbuntuMono;
  src: url('/public/bower/ubuntu-font/ubuntumono-bi.ttf');
}

html, body {
  width: 100%;
  min-width: 800px;
  margin: 0;
  border: 0;
  padding: 0;

  font-size: 16px;
  font-family: UbuntuMono, monospace, sans-serif;
  background-color: #212121;
  color: #FFFFFF;
}

.header {
  color: #CC0219;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.sections {
  text-align: center;
  list-style-type: none;
}

.sections a, .sections a:visited {
  color: #88e234;
  text-decoration: none;
  transition: all 200ms;
}

.sections a:hover {
  color: #3f7a06;
}

.help {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.help a, .help a:visited {
  color: #88e234;
  text-decoration: none;
  transition: all 200ms;
}

.help a:hover {
  color: #3f7a06;
}

.articles {
  margin: 20px 100px;
  border-collapse: collapse;
}

.articles th {
  border: 2px solid grey;
  color: #CC0219;
  padding: 15px;
  text-align: left;
}

.articles td {
  vertical-align: top;
  border: 2px solid grey;
  padding: 15px;
}

.section {
  color: #06989A;
}

.title {
  color: #88e234;
}

.url a, .url a:visited {
  color: #4E9A06;
  border-bottom: 1px solid #4E9A06;
  text-decoration: none;
}

.url a:hover {
  border-bottom: 2px solid #4E9A06;
}

.media {
  text-align: center;
  margin-bottom: 50px;
}

.media div {
  display: inline-block;
  margin: 5px;
}
