/**
 * analytics.pug stylesheet
 * Author: alvin.lin.dev@gmail.com (Alvin Lin)
 */

@import 'base';

.header {
  color: $ANSI_RED;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.date-slider-container {
  margin: 50px auto;
  width: 50vw;

  h4 {
    margin-bottom: 20px;
  }
}

.container {
  text-align: center;

  div {
    display: inline-block;

    h4 {
      color: $ANSI_RED;
    }

    .ct-chart {
      height: 30vw;
      min-height: 400px;
      width: 80vw;
      min-width: 800px;
      padding: 40px;
      margin-bottom: 150px;
      background-color: #d2d2d2;
      border-radius: 5px;
    }
  }
}
