/**
 * index.pug stylesheet
 * Author: alvin.lin.dev@gmail.com (Alvin Lin)
 */

@import 'base';

.header {
  color: $ANSI_RED;
  text-align: center;
  padding: 20px;
  margin: 0px;
}

.sections {
  text-align: center;
  list-style-type: none;
}

.help {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.articles {
  margin: 20px 100px;
  border-collapse: collapse;

  th {
    border: 2px solid grey;
    color: $ANSI_RED;
    padding: 15px;
    text-align: left;
  }

  td {
    vertical-align: top;
    border: 2px solid grey;
    padding: 15px;

    &.number {
      color: $ANSI_DARK_BLUE;
    }

    &.section {
      color: $ANSI_DARK_CYAN;
      text-decoration: underline;
    }

    .title {
      color: $ANSI_CYAN;
    }
  }
}

.media {
  text-align: center;
  margin-bottom: 50px;

  div {
    display: inline-block;
    margin: 5px;
  }
}
